/* Configurações Gerais */
body {
    background-color: #121212;
    color: #f4e4bc;
    font-family: 'Special Elite', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
}

#main-container {
    background: #1e1e1e;
    border: 3px solid #8e7341;
    border-radius: 20px;
    padding: 25px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    text-align: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #d4af37;
    margin-bottom: 10px;
}

.logo-hat {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Estilo das Perguntas */
#question-title {
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.4;
}

button {
    background-color: #2c2c2c;
    color: #f4e4bc;
    border: 2px solid #8e7341;
    padding: 15px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
    font-family: 'Special Elite', serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    background-color: #8e7341;
    color: #fff;
}

/* Resultados e Cores (Fiéis aos Livros) */
.hidden { display: none; }

#house-result {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    margin: 10px 0;
    text-transform: uppercase;
}

/* Classes de cores específicas */
.Gryffindor { color: #ae0001; } /* Vermelho */
.Slytherin { color: #2a623d; }  /* Verde */
.Ravenclaw { color: #222f5b; }  /* Azul */
.Hufflepuff { color: #ecb939; } /* Amarelo */

#house-colors {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#house-description {
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
}

.btn-restart {
    margin-top: 20px;
    background: #8e7341;
}
